
html {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.25;
}
body {
    background-color: #fff;
}

/* Grid */

.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr 72px 72px;
    height: 100vh;
    grid-auto-rows: 88px;
    grid-template-areas:
        "entry-list-header"
        "entry-list"
        "entry-list-nav"
        "nav";
}

.grid-entry-list-header {
    grid-area: entry-list-header;
}

.grid-entry-list {
    grid-template-columns: 80px 1fr;
    grid-area: entry-list;
}

grid-entry-list-nav {
    grid-area: entry-list-nav;
}

.grid-entry-header {
    grid-area: entry-header;
}

.grid-nav {
    grid-area: nav;
}

.grid-entry {
    grid-area: entry;
}

/* Media Queries */

@media (min-width: 719px) {
    .entry-header, .entry {
        display: inline;
    }
    .grid-layout {
        grid-template-columns: minmax(320px, 1fr) 2fr;
        grid-template-areas:
        "entry-list-header entry-header"
        "entry-list entry"
        "entry-list-nav entry"
        "nav nav";
    }
}






